.design_map{
    width:750px;
    height: 350px;
    margin: auto;
}

#map-canvas{
    height:370px !important;
}
h1{
    text-align: center;}


.H_ib_body{
    background:#195426 !important;
    
}
/*.H_ib_content{
    height :10px;
    width:100%;
}*/